/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #2400f3a9;
  margin: 0;
  font-family: "Poppins";
  background: url("./pic/background.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.App{
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
#bluebg{
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  
  background: rgba(38, 0, 255, 0.466);
  background-attachment: fixed;
}
header {
  background: rgb(248, 127, 13);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
header a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
/* homepage */
.home{
  margin: auto 10vw;
}

.upper{
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  color: white;
  margin-bottom: -2vh;
}

/* add button */
.home-button{
  height: 5vh;
  text-decoration: none;
  background-color: rgb(248, 127, 13);
  border-radius: 50px;
  border: 0px;
  color: blue;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  padding: 0 2vw;
}

.add{
  justify-self: left;
}

.semi-title{
  font-size: 25px;
  font-weight: bold;
}

.heading{
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 15% 15%;
  margin-bottom: -30px;
}

.hnum{
  margin-left: 2vw;
}

.heading p{
  font-size: 20px;
  color: blue;
  font-weight: bold;
}

.users {
  background-color: rgba(255, 255, 255, 0.596);
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
}

.user-details {
  background: #fff;
  border-radius:30px;
  margin: 20px 0;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 15% 15%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.user-details>*{
  margin: auto 0; 
}
.user-details h4 {
  font-size: 1.2em;
  color: blue;
}
.user-details p {
  font-size: 0.9em;
  color: #555;
}

.material-symbols-sharp {
  cursor: pointer;
  padding: 6px;
  margin: auto;
  border-radius: 50%;
  width: 2%;
}

.material-symbols-sharp:active{
  filter: invert(1);
}

.delete{
  color: rgb(255, 20, 20);
}
.edit{
  color: rgb(20, 255, 90);
}
.ed{
  text-decoration: none;
}

/* add and edit form */
.inputform {
  width: 400px;
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.596);
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
}

input {
  margin-left: 2px; 
  margin-right: 2px;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
}

/* button for adding image */
.imgbtns{
  display: grid;
  grid-template-columns: 40% auto 40%;
  align-content: center;
  text-align: center;
  align-items: center;
}

.imgbtns *:not(span){
  background-color: yellow;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 8px;
}

.imgsection img{
  margin-left: 2px; 
  margin-right: 2px;
  position: relative;
  width: 400px;
}

/* camera */
.camera{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-row: auto;
  align-items: center;
  background-color: rgba(0,0,0,0.9);
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.camera .capture{
  display: grid;
  margin: 50vh 0 0 46.7%;
  position: absolute;
  /* width: 100%; */
  /* top: 70%;
  left: 45%; */
  padding: 20px;
  background-color: rgba(85, 85, 85, 0.397);
  border-radius: 50px;
  border: 1px solid rgb(248, 248, 248);
}

.camera .capture:hover{
  cursor: pointer;
  background-color: rgba(144, 144, 144, 0.56);
}

.camera .capture:active{
  background-color: white;
  transform: scale(110%);
}

.exit{
  position:absolute;
  color: white;
  top: 10px;
  left: 10px;
  font-size: 50px;
}

.exit:hover{
  cursor: pointer;
}

.webcam{
  border: 1px solid white;
}

/* buttons add, update and cancel */
.adedbuttons{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.adedbuttons button{
  border: 0;
  padding: 5px 10px;
  font-family: "Poppins";
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.update, .addx{ 
  background-color: #4CAF50;
  color: white;
}

.cancel{
  background-color: orangered;
  color:white;
}

/* errorn handling */
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
#link{
  text-decoration: none;
  color: blue;
  margin: 4vw 0;
}

/* search div */
#searchform {
  display: grid;
  grid-template-columns: auto;
  background-color: rgb(248, 127, 13);
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 0;
}
#query {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}
::placeholder {
  color: #fff;
  opacity: 0.7; 
}

.searchbutton {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

/* counter */
.users {
  list-style-type: none;
  counter-reset: css-counter 0; /* initializes counter to 0; use -1 for zero-based numbering */
}

.users .num{
  margin-left: 2vw;
  counter-increment: css-counter 1; /* Increase the counter by 1. */
}

.users .num:before {
  content: counter(css-counter) ". "; /* Apply counter before children's content. */
}

